<script setup lang="ts">
import WidgetFive from './components/WidgetFive.vue';
import ReportStats from './components/ReportStats.vue';
</script>

<template>
  <div>
    <!-- -------------------------------------------------------------------- -->
    <!-- Total widgets -->
    <!-- -------------------------------------------------------------------- -->
    <WidgetFive />
    <v-row>
      <!-- -------------------------------------------------------------------- -->
      <!-- ReportStats -->
      <!-- -------------------------------------------------------------------- -->
      <v-col cols="12">
        <ReportStats />
      </v-col>
    </v-row>
  </div>
</template>
