<script setup lang="ts">
import { EditOutlined, DeleteOutlined } from '@ant-design/icons-vue';
import { ref } from 'vue';
import { useQuestionStore } from '@/stores/question';

const questionStore = useQuestionStore();
const dialog = ref(false);

// Props aus dem Setup extrahieren
const props = defineProps<{
  cardId: number;
  title: string;
  tag: string;
  answer1Right: string;
  answer2: string;
  answer3: string;
  answer4: string;
  explanation: string;
}>();

const id = ref(props.cardId);
const title = ref(props.title);
const tag = ref(props.tag);
const answer1Right = ref(props.answer1Right);
const answer2 = ref(props.answer2);
const answer3 = ref(props.answer3);
const answer4 = ref(props.answer4);
const explanation = ref(props.explanation);

// Define emits
const emits = defineEmits(['deleteCard']);
// Function to emit the delete-card event
const deleteCard = () => {
  emits('deleteCard', props.cardId);
};

const updateCard = () => {
  questionStore.update({
    id: id.value,
    title: title.value,
    tag: tag.value,
    answer1Right: answer1Right.value,
    answer2: answer2.value,
    answer3: answer3.value,
    answer4: answer4.value,
    explanation: explanation.value
  });

  dialog.value = false;
};
</script>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      reveal: false
    };
  }
});

function truncateName(name: string, length: number): string {
  if (name.length > length) {
    return name.slice(0, length) + '...';
  }
  return name;
}
</script>

<template>
  <div class="pa-2 ma-2">
    <v-card class="mx-auto" max-width="344" min-height="400" variant="outlined">
      <v-card-text>
        <div>{{ tag }}</div>
        <p class="text-h4 text--primary">{{ title }}</p>
        <div class="text--primary d-flex flex-wrap">
          <div class="ma-1">
            <v-chip color="success">{{ truncateName(answer1Right, 20) }}</v-chip>
          </div>
          <div class="ma-1">
            <v-chip color="error">{{ truncateName(answer2, 20) }}</v-chip>
          </div>
          <div class="ma-1">
            <v-chip color="error">{{ truncateName(answer3, 20) }}</v-chip>
          </div>
          <div class="ma-1">
            <v-chip color="error">{{ truncateName(answer4, 20) }}</v-chip>
          </div>
        </div>
      </v-card-text>
      <v-card-actions style="position: absolute; bottom: 0">
        <v-btn color="primary" variant="outlined" @click="reveal = true"> Erklärung </v-btn>
        <v-btn color="secondary" icon rounded variant="text" @click="deleteCard">
          <DeleteOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" />
        </v-btn>
        <div class="pa-4 text-center">
          <v-dialog v-model="dialog" max-width="600">
            <template v-slot:activator="{ props: activatorProps }">
              <v-btn color="secondary" icon rounded variant="text" v-bind="activatorProps">
                <EditOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" />
              </v-btn>
            </template>

            <v-card prepend-icon="mdi-help" title="Bearbeiten der Frage">
              <v-card-text>
                <v-row dense>
                  <v-col cols="12">
                    <v-text-field v-model="title" variant="outlined" label="Fragestellung*" required></v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-text-field v-model="tag" variant="outlined" label="Kategorie*" required></v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-text-field v-model="answer1Right" variant="outlined" label="Anwort 1 (richtig)*" required></v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-text-field v-model="answer2" variant="outlined" label="Anwort 2 (falsch)*" required></v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-text-field v-model="answer3" variant="outlined" label="Anwort 3 (falsch)*" required></v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-text-field v-model="answer4" variant="outlined" label="Anwort 4 (falsch)*" required></v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-textarea
                      v-model="explanation"
                      variant="outlined"
                      label="Begründung*"
                      row-height="25"
                      rows="3"
                      auto-grow
                      required
                    ></v-textarea>
                  </v-col>
                </v-row>

                <small class="text-caption text-medium-emphasis">*Pflichtfelder</small>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn text="Schließen" variant="plain" @click="dialog = false"></v-btn>

                <v-btn color="primary" text="Speichern" variant="tonal" @click="updateCard"></v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-card-actions>

      <v-expand-transition>
        <v-card v-if="reveal" class="v-card--reveal" style="height: 100%">
          <v-card-text class="pb-0">
            <p class="text-h4 text--primary">Erklärung:</p>
            <p>
              {{ truncateName(explanation, 250) }}
            </p>
          </v-card-text>
          <v-card-actions class="pt-0" style="position: absolute; bottom: 0">
            <v-btn color="primary" variant="outlined" @click="reveal = false"> Schließen </v-btn>
          </v-card-actions>
        </v-card>
      </v-expand-transition>
    </v-card>
  </div>
</template>

<style>
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
</style>
