<script setup lang="ts">
import { EditOutlined, DeleteOutlined } from '@ant-design/icons-vue';
import { ref } from 'vue';
import { useSetStore } from '@/stores/set';

const setStore = useSetStore();
const dialog = ref(false);

// Props aus dem Setup extrahieren
const props = defineProps<{
  setId: number;
  title: string;
  selectedQuestions: { title: string; value: number }[];
  questions: { title: string; value: number }[];
}>();

const id = ref(props.setId);
const questions = ref(props.questions);
const title = ref(props.title);
const selectedQuestions = ref(props.selectedQuestions);

// Define emits
const emits = defineEmits(['deleteSet']);
// Function to emit the delete-card event
const deleteSet = () => {
  emits('deleteSet', props.setId);
};

const updateSet = () => {
  setStore.update({
    id: id.value,
    title: title.value,
    questions: selectedQuestions.value
  });

  dialog.value = false;
};
</script>

<template>
  <div class="pa-2 ma-2">
    <v-card class="mx-auto" max-width="344" min-height="400" variant="outlined">
      <v-card-text>
        <p class="text-h4 text--primary">{{ title }}</p>
        <div class="text--primary d-flex flex-wrap">
          <v-list lines="two">
            <v-virtual-scroll :height="250" :items="selectedQuestions">
              <template v-slot:default="{ item }">
                <v-list-item>
                  <v-list-item-subtitle class="font-weight-bold">{{ item.title }}</v-list-item-subtitle>
                </v-list-item>
                <v-divider></v-divider>
              </template>
            </v-virtual-scroll>
          </v-list>
        </div>
      </v-card-text>
      <v-card-actions style="position: absolute; bottom: 0">
        <v-btn color="secondary" icon rounded variant="text" @click="deleteSet">
          <DeleteOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" />
        </v-btn>
        <div class="pa-4 text-center">
          <v-dialog v-model="dialog" max-width="600">
            <template v-slot:activator="{ props: activatorProps }">
              <v-btn color="secondary" icon rounded variant="text" v-bind="activatorProps">
                <EditOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" />
              </v-btn>
            </template>

            <v-card prepend-icon="mdi-help" title="Bearbeiten des Katalogs">
              <v-card-text>
                <v-row dense>
                  <v-col cols="12">
                    <v-text-field v-model="title" variant="outlined" label="Name des Katalogs*" required></v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-autocomplete
                      label="Fragen*"
                      :items="questions"
                      item-value="id"
                      v-model="selectedQuestions"
                      multiple
                      variant="outlined"
                      return-object
                      required
                    ></v-autocomplete>
                  </v-col>
                </v-row>

                <small class="text-caption text-medium-emphasis">*Pflichtfelder</small>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn text="Schließen" variant="plain" @click="dialog = false"></v-btn>

                <v-btn color="primary" text="Speichern" variant="tonal" @click="updateSet"></v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-card-actions>
    </v-card>
  </div>
</template>
