<script setup lang="ts">
import { computed } from 'vue';
// icons
import { LogoutOutlined, UserOutlined } from '@ant-design/icons-vue';
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();

const fullName = computed(() => {
  return `${authStore.user.firstName} ${authStore.user.lastName}`;
});

const avatarUrl = computed(() => {
  return `https://ui-avatars.com/api/?bold=true&background=1677ff&color=e6f4ff&name=${authStore.user.firstName}+${authStore.user.lastName}`;
});
</script>

<template>
  <!-- ---------------------------------------------- -->
  <!-- profile DD -->
  <!-- ---------------------------------------------- -->
  <div>
    <div class="d-flex align-center pa-5">
      <v-avatar size="32" class="mr-2">
        <img :src="avatarUrl" width="32" :alt="fullName" />
      </v-avatar>
      <div>
        <h6 class="text-h6 mb-0">{{ fullName }}</h6>
        <p class="text-caption mb-0">{{ authStore.user.email }}</p>
      </div>
      <div class="ml-auto">
        <v-btn variant="text" color="primary" rounded="sm" icon size="large" @click="authStore.logout()">
          <LogoutOutlined :style="{ fontSize: '20px' }" />
        </v-btn>
      </div>
    </div>
    <perfect-scrollbar style="max-height: 240px">
      <v-list class="py-0" aria-label="profile list" aria-busy="true">
        <v-list-item color="primary" rounded="0" value="Account">
          <template v-slot:prepend>
            <UserOutlined :style="{ fontSize: '14px' }" class="mr-4" />
          </template>

          <v-list-item-title class="text-h6">
            <router-link to="/settings" class="text-darkText text-decoration-none"> Kontoeinstellungen</router-link>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </perfect-scrollbar>
  </div>
</template>
