<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { useGameStore } from '@/stores/game';

const gameStore = useGameStore();
const router = useRouter();

// Props aus dem Setup extrahieren
const props = defineProps<{
  gameId: number;
  title: string;
  type: number;
  set: {
    id: number;
    title: string;
    questions: Array<any>;
  };
}>();

const loading = ref(true);
const isActive = ref(false);
const gameId = ref(props.gameId);
const type = ref(props.type);
const title = ref(props.title);
const playerCounter = ref(0);

const gameStats = ref();

onMounted(async () => {
  const currentPlayerCount = await gameStore.getPlayerCountByGameId(gameId.value);

  playerCounter.value = currentPlayerCount;
  if ((type.value === 2 && currentPlayerCount < 2) || (type.value === 1 && currentPlayerCount < 4)) {
    isActive.value = true;
  }

  const userGame = await gameStore.getByGameId(gameId.value);

  let totalQuestions = 0;
  let totalRightAnswers = 0;
  let winner = null;
  let tempRightAnswers = 0;
  for (const item of userGame) {
    if (item.game.type === 1) {
      const answers = item.rightAnswers + item.wrongAnswers;
      totalQuestions = totalQuestions + answers;
      totalRightAnswers = totalRightAnswers + item.rightAnswers;
    } else {
      if (item.rightAnswers > tempRightAnswers) {
        const answers = item.rightAnswers + item.wrongAnswers;
        totalQuestions = answers;
        winner = item.user;
        tempRightAnswers = item.rightAnswers;
      }
    }
  }

  if (type.value === 1) {
    gameStats.value = {
      totalQuestions,
      totalRightAnswers,
      totalPercent: ((totalRightAnswers / totalQuestions) * 100).toFixed(0)
    };
  } else {
    gameStats.value = {
      winner,
      totalQuestions,
      totalRightAnswers: tempRightAnswers,
      totalPercent: ((tempRightAnswers / totalQuestions) * 100).toFixed(0)
    };
  }
  loading.value = false;
});

const startGame = () => {
  if ((type.value === 2 && playerCounter.value < 2) || (type.value === 1 && playerCounter.value < 4)) {
    playerCounter.value++;
    router.push({ path: `/games/play/${gameId.value}` });
  }
};
</script>

<template>
  <div class="pa-2 ma-2">
    <v-card class="mx-auto" max-width="344" min-height="425" variant="outlined" v-if="!loading">
      <v-card-text>
        <p class="text-h4 text--primary">{{ title }}</p>
        <div class="text--primary">
          <div class="text-h5">
            {{ set.title }}
          </div>
          <div>Anzahl der Fragen: {{ set.questions.length }}</div>
        </div>
        <div class="text--primary mt-4" v-if="!isActive">
          <v-divider class="mx-3 mb-3"></v-divider>
          <div class="text-h4 text-center mb-2 text-primary">Spiel beendet!</div>
          <div v-if="type === 1">
            <v-row dense>
              <v-col cols="12" class="d-flex justify-center align-center">
                <div class="text-center">
                  <div>Gruppenergebnis:</div>
                  <div>{{ gameStats?.totalRightAnswers }} von {{ gameStats?.totalQuestions }} richtig</div>
                </div>
              </v-col>
              <v-col cols="12" class="d-flex justify-center">
                <v-progress-circular color="success" bg-color="error" :model-value="gameStats?.totalPercent" :size="75" :width="10">
                  <div class="text-primary">
                    <b>{{ gameStats?.totalPercent }}%</b>
                  </div>
                </v-progress-circular>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            <v-row dense>
              <v-col cols="12" class="d-flex justify-center align-center">
                <div class="text-center">
                  <div>Ergebnis:</div>
                  <div>{{ gameStats?.totalRightAnswers }} von {{ gameStats?.totalQuestions }} richtig</div>
                </div>
              </v-col>
              <v-col cols="12" class="d-flex justify-center">
                <v-progress-circular color="success" bg-color="error" :model-value="gameStats?.totalPercent" :size="75" :width="10">
                  <div class="text-primary">
                    <b>{{ gameStats?.totalPercent }}%</b>
                  </div>
                </v-progress-circular>
              </v-col>
              <v-col cols="12" class="d-flex justify-center">
                <div class="text-primary font-weight-bold">
                  <v-icon color="primary" icon="mdi-trophy-outline" size="large"></v-icon>
                  {{ gameStats?.winner?.firstName }} {{ gameStats?.winner?.lastName }}
                </div>
              </v-col>
            </v-row>
          </div>
        </div>
      </v-card-text>
      <v-card-actions style="position: absolute; bottom: 0">
        <v-btn :disabled="!isActive" color="primary" variant="outlined" @click="startGame"> Spielen </v-btn>
        <div v-if="type === 1">
          <v-chip class="combined ml-2" prepend-icon="mdi-account" label>{{ playerCounter }}/4</v-chip>
          <v-chip class="combined ml-2" color="success" prepend-icon="mdi-account-group" label>Kooperativ</v-chip>
        </div>
        <div v-else>
          <v-chip class="combined ml-2" prepend-icon="mdi-account" label>{{ playerCounter }}/2</v-chip>
          <v-chip class="combined ml-2" color="error" prepend-icon="mdi-lightning-bolt" label>Versus</v-chip>
        </div>
      </v-card-actions>
    </v-card>
    <v-card v-else> laden... </v-card>
  </div>
</template>
