<script setup lang="ts">
import { ref, shallowRef, watch, onMounted } from 'vue';

import BaseBreadcrumb from '@/components/shared/BaseBreadcrumb.vue';
import UiParentCard from '@/components/shared/UiParentCard.vue';
import QuestionCard from './components/QuestionCard.vue';
import { PlusCircleOutlined } from '@ant-design/icons-vue';
import { useQuestionStore } from '@/stores/question';
import { useAuthStore } from '@/stores/auth';

const questionStore = useQuestionStore();
const authStore = useAuthStore();

const page = ref({ title: 'Fragen' });
const breadcrumbs = shallowRef([
  {
    title: 'Fragen',
    disabled: true,
    href: '#'
  }
]);
const dialog = ref(false);

const cards = ref();

const title = ref('');
const tag = ref('');
const answer1Right = ref('');
const answer2 = ref('');
const answer3 = ref('');
const answer4 = ref('');
const explanation = ref('');

onMounted(async () => {
  await questionStore.getAll();
  cards.value = questionStore.questions;
});

watch(
  cards,
  (newCards) => {
    cards.value = newCards;
  },
  { deep: true }
);

const deleteCard = (cardId: number) => {
  questionStore.delete(cardId);
};

const saveNewCard = () => {
  questionStore.save({
    title: title.value,
    tag: tag.value,
    answer1Right: answer1Right.value,
    answer2: answer2.value,
    answer3: answer3.value,
    answer4: answer4.value,
    explanation: explanation.value,
    user: authStore.user.id
  });

  dialog.value = false;
};
</script>

<template>
  <div>
    <BaseBreadcrumb :title="page.title" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
    <v-row>
      <v-col>
        <UiParentCard title="Alle Fragen">
          <v-row no-gutters class="card-row">
            <v-col cols="12" md="4">
              <div class="first-card-container pa-2 ma-2">
                <v-dialog v-model="dialog" max-width="600">
                  <template v-slot:activator="{ props: activatorProps }">
                    <v-card class="mx-auto d-flex align-center" max-width="344" min-height="400" variant="outlined" v-bind="activatorProps">
                      <v-card-text>
                        <p class="text-h4 text--primary text-center">Erstellen Sie neue Fragen</p>
                        <div class="d-flex justify-center">
                          <PlusCircleOutlined :style="{ color: 'rgb(var(--v-theme-secondary))', fontSize: '60px' }" />
                        </div>
                      </v-card-text>
                    </v-card>
                  </template>

                  <v-card prepend-icon="mdi-help" title="Erstellen einer Frage">
                    <v-card-text>
                      <v-row dense>
                        <v-col cols="12">
                          <v-text-field v-model="title" variant="outlined" label="Fragestellung*" required></v-text-field>
                        </v-col>

                        <v-col cols="12">
                          <v-text-field v-model="tag" variant="outlined" label="Kategorie*" required></v-text-field>
                        </v-col>

                        <v-col cols="12" md="6">
                          <v-text-field v-model="answer1Right" variant="outlined" label="Anwort 1 (richtig)*" required></v-text-field>
                        </v-col>

                        <v-col cols="12" md="6">
                          <v-text-field v-model="answer2" variant="outlined" label="Anwort 2 (falsch)*" required></v-text-field>
                        </v-col>

                        <v-col cols="12" md="6">
                          <v-text-field v-model="answer3" variant="outlined" label="Anwort 3 (falsch)*" required></v-text-field>
                        </v-col>

                        <v-col cols="12" md="6">
                          <v-text-field v-model="answer4" variant="outlined" label="Anwort 4 (falsch)*" required></v-text-field>
                        </v-col>

                        <v-col cols="12">
                          <v-textarea
                            v-model="explanation"
                            variant="outlined"
                            label="Begründung*"
                            row-height="25"
                            rows="3"
                            auto-grow
                            required
                          ></v-textarea>
                        </v-col>
                      </v-row>

                      <small class="text-caption text-medium-emphasis">*Pflichtfelder</small>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn text="Schließen" variant="plain" @click="dialog = false"></v-btn>

                      <v-btn color="primary" text="Speichern" variant="tonal" @click="saveNewCard"></v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </div>
            </v-col>
            <v-col cols="12" md="4" v-for="card in cards" :key="card.id">
              <QuestionCard
                :card-id="card.id"
                :title="card.title"
                :tag="card.tag"
                :answer1Right="card.answer1Right"
                :answer2="card.answer2"
                :answer3="card.answer3"
                :answer4="card.answer4"
                :explanation="card.explanation"
                @deleteCard="deleteCard"
              />
            </v-col>
          </v-row>
        </UiParentCard>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.card-row {
  display: flex;
}

.first-card-container {
  min-height: 100%;
}
</style>
