<script setup lang="ts">
import { ref, shallowRef, watch, onMounted } from 'vue';

import BaseBreadcrumb from '@/components/shared/BaseBreadcrumb.vue';
import UiParentCard from '@/components/shared/UiParentCard.vue';
import SetCard from './components/SetCard.vue';
import { PlusCircleOutlined } from '@ant-design/icons-vue';
import { useSetStore } from '@/stores/set';
import { useQuestionStore } from '@/stores/question';

const questionStore = useQuestionStore();
const setStore = useSetStore();

const page = ref({ title: 'Katalog' });
const breadcrumbs = shallowRef([
  {
    title: 'Katalog',
    disabled: true,
    href: '#'
  }
]);
const dialog = ref(false);

const sets = ref();

const questions = ref();

const title = ref('');
const selectedQuestions = ref([]);

onMounted(async () => {
  await setStore.getAll();
  await questionStore.getAll();

  questions.value = questionStore.questions;
  sets.value = setStore.sets;
});

watch(
  sets,
  (newSets) => {
    sets.value = newSets;
  },
  { deep: true }
);

const deleteSet = (setId: number) => {
  setStore.delete(setId);
};

const saveNewSet = () => {
  setStore.save({
    title: title.value,
    questions: selectedQuestions.value
  });

  dialog.value = false;
};
</script>

<template>
  <div>
    <BaseBreadcrumb :title="page.title" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
    <v-row>
      <v-col>
        <UiParentCard title="Alle Fragenkataloge">
          <v-row no-gutters class="card-row">
            <v-col cols="12" md="4">
              <div class="first-card-container pa-2 ma-2">
                <v-dialog v-model="dialog" max-width="600">
                  <template v-slot:activator="{ props: activatorProps }">
                    <v-card class="mx-auto d-flex align-center" max-width="344" min-height="400" variant="outlined" v-bind="activatorProps">
                      <v-card-text>
                        <p class="text-h4 text--primary text-center">Erstellen Sie ein neuen Katalog</p>
                        <div class="d-flex justify-center">
                          <PlusCircleOutlined :style="{ color: 'rgb(var(--v-theme-secondary))', fontSize: '60px' }" />
                        </div>
                      </v-card-text>
                    </v-card>
                  </template>

                  <v-card prepend-icon="mdi-help" title="Erstellen eines Katalogs">
                    <v-card-text>
                      <v-row dense>
                        <v-col cols="12">
                          <v-text-field v-model="title" variant="outlined" label="Name des Katalogs*" required></v-text-field>
                        </v-col>

                        <v-col cols="12">
                          <v-autocomplete
                            label="Fragen*"
                            :items="questions"
                            item-value="id"
                            v-model="selectedQuestions"
                            multiple
                            variant="outlined"
                            return-object
                            required
                          ></v-autocomplete>
                        </v-col>
                      </v-row>

                      <small class="text-caption text-medium-emphasis">*Pflichtfelder</small>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn text="Schließen" variant="plain" @click="dialog = false"></v-btn>

                      <v-btn color="primary" text="Speichern" variant="tonal" @click="saveNewSet"></v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </div>
            </v-col>
            <v-col cols="12" md="4" v-for="set in sets" :key="set.id">
              <SetCard
                :set-id="set.id"
                :title="set.title"
                :selected-questions="set.questions"
                :questions="questions"
                @deleteSet="deleteSet"
              />
            </v-col>
          </v-row>
        </UiParentCard>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.card-row {
  display: flex;
}

.first-card-container {
  min-height: 100%;
}
</style>
