<script setup lang="ts">
import { ref } from 'vue';
import { useAuthStore } from '@/stores/auth';
// icons
import { EyeInvisibleOutlined, EyeOutlined } from '@ant-design/icons-vue';
const show1 = ref(false);
const password = ref('');
const email = ref('');
const Regform = ref();
const firstname = ref('');
const lastname = ref('');
const passwordRules = ref([
  (v: string) => !!v || 'Passwort ist erforderlich',
  (v: string) => (v && v.length <= 30) || 'Das Passwort muss weniger als 30 Zeichen enthalten'
]);
const firstRules = ref([(v: string) => !!v || 'Vorname ist erforderlich']);
const lastRules = ref([(v: string) => !!v || 'Nachname ist erforderlich']);
const emailRules = ref([(v: string) => !!v || 'E-Mail ist erforderlich', (v: string) => /.+@.+\..+/.test(v) || 'E-Mail muss gültig sein']);

function validate() {
  Regform.value.validate();
  const authStore = useAuthStore();
  return authStore.register(email.value, firstname.value, lastname.value, password.value);
}
</script>

<template>
  <div>
    <div class="d-flex justify-space-between align-center">
      <h3 class="text-h3 text-center mb-0">Registrierung</h3>
      <router-link to="/auth/login" class="text-primary text-decoration-none">Sie haben bereits ein Konto?</router-link>
    </div>
    <v-form ref="Regform" lazy-validation action="/dashboards/analytical" class="mt-7 loginForm">
      <v-row class="my-0">
        <v-col cols="12" sm="6" class="py-0">
          <div class="mb-6">
            <v-label>Vorname*</v-label>
            <v-text-field
              v-model="firstname"
              :rules="firstRules"
              hide-details="auto"
              required
              variant="outlined"
              class="mt-2"
              color="primary"
              placeholder="Max"
            ></v-text-field>
          </div>
        </v-col>
        <v-col cols="12" sm="6" class="py-0">
          <div class="mb-6">
            <v-label>Nachname*</v-label>
            <v-text-field
              v-model="lastname"
              :rules="lastRules"
              hide-details="auto"
              required
              variant="outlined"
              class="mt-2"
              color="primary"
              placeholder="Mustermann"
            ></v-text-field>
          </div>
        </v-col>
      </v-row>
      <div class="mb-6">
        <v-label>E-Mail Adresse*</v-label>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          placeholder="max.mustermann@email.com"
          class="mt-2"
          required
          hide-details="auto"
          variant="outlined"
          color="primary"
        ></v-text-field>
      </div>
      <div class="mb-6">
        <v-label>Passwort</v-label>
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          placeholder="*********"
          required
          variant="outlined"
          color="primary"
          hide-details="auto"
          :type="show1 ? 'text' : 'password'"
          class="pwdInput mt-2"
        >
          <template v-slot:append>
            <v-btn color="secondary" icon rounded variant="text">
              <EyeInvisibleOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" v-if="show1 == false" @click="show1 = !show1" />
              <EyeOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" v-if="show1 == true" @click="show1 = !show1" />
            </v-btn>
          </template>
        </v-text-field>
      </div>

      <div class="d-sm-inline-flex align-center mt-2 mb-7 mb-sm-0 font-weight-bold">
        <h6 class="text-caption">
          Mit der Anmeldung erklären Sie sich mit unseren
          <router-link to="/auth/register" class="text-primary link-hover font-weight-medium">Nutzungsbedingungen </router-link>
          und unserer
          <router-link to="/auth/register" class="text-primary link-hover font-weight-medium">Datenschutzrichtlinie</router-link>
          einverstanden.
        </h6>
      </div>
      <v-btn color="primary" block class="mt-4" variant="flat" size="large" @click="validate()">Konto erstellen</v-btn>
    </v-form>
  </div>
</template>
