<script setup lang="ts">
import { ref } from 'vue';
// icons
import { EyeInvisibleOutlined, EyeOutlined } from '@ant-design/icons-vue';
import { useAuthStore } from '@/stores/auth';
import { Form } from 'vee-validate';

const checkbox = ref(false);
const valid = ref(false);
const show1 = ref(false);
const password = ref('');
const email = ref('');
const passwordRules = ref([
  (v: string) => !!v || 'Passwort ist erforderlich',
  (v: string) => (v && v.length <= 30) || 'Das Passwort muss weniger als 30 Zeichen enthalten'
]);
const emailRules = ref([(v: string) => !!v || 'E-Mail ist erforderlich', (v: string) => /.+@.+\..+/.test(v) || 'E-Mail muss gültig sein']);

/* eslint-disable @typescript-eslint/no-explicit-any */
function validate(values: any, { setErrors }: any) {
  const authStore = useAuthStore();
  return authStore.login(email.value, password.value).catch((error) => setErrors({ apiError: error }));
}
</script>

<template>
  <div>
    <div class="d-flex justify-space-between align-center">
      <h3 class="text-h3 text-center mb-0">Anmeldung</h3>
      <router-link to="/auth/register" class="text-primary text-decoration-none">Sie haben noch kein Konto?</router-link>
    </div>
    <Form @submit="validate" class="mt-7 loginForm" v-slot="{ errors, isSubmitting }">
      <div class="mb-6">
        <v-label>E-Mail Adresse</v-label>
        <v-text-field
          aria-label="email address"
          v-model="email"
          :rules="emailRules"
          class="mt-2"
          required
          hide-details="auto"
          variant="outlined"
          color="primary"
        ></v-text-field>
      </div>
      <div>
        <v-label>Passwort</v-label>
        <v-text-field
          aria-label="password"
          v-model="password"
          :rules="passwordRules"
          required
          variant="outlined"
          color="primary"
          hide-details="auto"
          :type="show1 ? 'text' : 'password'"
          class="pwdInput mt-2"
        >
          <template v-slot:append>
            <v-btn color="secondary" icon rounded variant="text">
              <EyeInvisibleOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" v-if="show1 == false" @click="show1 = !show1" />
              <EyeOutlined :style="{ color: 'rgb(var(--v-theme-secondary))' }" v-if="show1 == true" @click="show1 = !show1" />
            </v-btn>
          </template>
        </v-text-field>
      </div>

      <div class="d-flex align-center mt-4 mb-7 mb-sm-0">
        <v-checkbox
          v-model="checkbox"
          :rules="[(v: any) => !!v || 'Sie müssen zustimmen, um fortzufahren!']"
          label="Anmeldung beibehalten"
          required
          color="primary"
          class="ms-n2"
          hide-details
        ></v-checkbox>
        <div class="ml-auto">
          <router-link to="/auth/login" class="text-darkText link-hover">Passwort vergessen?</router-link>
        </div>
      </div>
      <v-btn color="primary" :loading="isSubmitting" block class="mt-5" variant="flat" size="large" :disabled="valid" type="submit">
        Anmelden</v-btn
      >
      <div v-if="errors.apiError" class="mt-2">
        <v-alert color="error">{{ errors.apiError }}</v-alert>
      </div>
    </Form>
  </div>
</template>
<style lang="scss">
.loginForm {
  .v-text-field .v-field--active input {
    font-weight: 500;
  }
}
</style>
