<script setup lang="ts">
import { useField, useForm } from 'vee-validate';
import { ref, shallowRef } from 'vue';

import BaseBreadcrumb from '@/components/shared/BaseBreadcrumb.vue';
import UiParentCard from '@/components/shared/UiParentCard.vue';
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();

const page = ref({ title: 'Kontoeinstellungen' });
const breadcrumbs = shallowRef([
  {
    title: 'Kontoeinstellungen',
    disabled: true,
    href: '#'
  }
]);

const { handleSubmit } = useForm({
  validationSchema: {
    firstName(value: string) {
      if (value?.length >= 3) return true;

      return 'Name needs to be at least 3 characters.';
    },
    lastName(value: string) {
      if (value?.length >= 5) return true;

      return 'Name needs to be at least 5 characters.';
    },
    email(value: string) {
      if (/^[a-z.-]+@[a-z.-]+\.[a-z]+$/i.test(value)) return true;

      return 'Must be a valid e-mail.';
    },
    password(value: string) {
      if (value?.length >= 7) return true;

      return 'Name needs to be at least 7 characters.';
    }
  }
});

const firstName = useField('firstName');
firstName.value.value = authStore.user.firstName;
const lastName = useField('lastName');
lastName.value.value = authStore.user.lastName;
const email = useField('email');
email.value.value = authStore.user.email;
const password = useField('password');

const submit = handleSubmit((values) => {
  authStore.updateUser(authStore.user.id, values.email, values.firstName, values.lastName, values.password);
});
</script>

<template>
  <div>
    <BaseBreadcrumb :title="page.title" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
    <v-row>
      <v-col>
        <UiParentCard title="Einstellungen">
          <form @submit.prevent="submit">
            <v-row dense>
              <v-col cols="12" md="6">
                <v-text-field
                  variant="outlined"
                  v-model="firstName.value.value"
                  :counter="20"
                  :error-messages="firstName.errorMessage.value"
                  label="Vorname"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  variant="outlined"
                  v-model="lastName.value.value"
                  :counter="20"
                  :error-messages="lastName.errorMessage.value"
                  label="Nachname"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field variant="outlined" v-model="email.value.value" :error-messages="email.errorMessage.value" label="E-Mail">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  variant="outlined"
                  v-model="password.value.value"
                  :error-messages="password.errorMessage.value"
                  label="Passwort"
                >
                </v-text-field>
              </v-col>

              <v-col cols="12">
                <v-btn class="me-4" variant="tonal" color="primary" type="submit"> Speichern </v-btn>
              </v-col>
            </v-row>
          </form>
        </UiParentCard>
      </v-col>
    </v-row>
  </div>
</template>
