<script setup lang="ts">
import Logo from '@/layouts/dashboard/logo/LogoDark.vue';
import AuthLogin from '../authForms/AuthLogin.vue';
import AuthFooter from './AuthFooter.vue';
</script>

<template>
  <v-row class="bg-containerBg position-relative" no-gutters>
    <div class="blur-logo">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <path
          d="M0 0 C3.61913146 0.00479419 7.23821298 -0.00783263 10.85732758 -0.01801741 C17.92208735 -0.03509133 24.98675775 -0.0360692 32.05153277 -0.03080451 C37.80317047 -0.02673938 43.55478205 -0.02823394 49.30641854 -0.03355277 C50.12952325 -0.03430119 50.95262797 -0.03504961 51.80067525 -0.03582071 C53.47360855 -0.03735242 55.14654186 -0.03889077 56.81947515 -0.04043568 C72.45953262 -0.05411998 88.09953988 -0.04875225 103.73959617 -0.03725047 C117.99384857 -0.0273269 132.247971 -0.04025087 146.50220337 -0.06418466 C161.19761547 -0.08867006 175.89296729 -0.09816019 190.58839935 -0.09153193 C198.81500974 -0.08806 207.04152039 -0.09013611 215.26811516 -0.10778296 C222.27257723 -0.12262393 229.27686931 -0.12298756 236.28132846 -0.10571205 C239.84293374 -0.0972953 243.40423699 -0.09481796 246.9658252 -0.1103636 C284.66258048 -0.26286851 320.1485187 5.85266603 348.40867341 32.53183305 C374.7917913 59.86535145 379.27171831 97.35180548 379.19050646 133.62315965 C379.18571226 137.2422911 379.19833909 140.86137262 379.20852387 144.48048723 C379.22559779 151.545247 379.22657565 158.60991739 379.22131097 165.67469241 C379.21724584 171.42633012 379.2187404 177.1779417 379.22405922 182.92957819 C379.22480765 183.7526829 379.22555607 184.57578761 379.22632717 185.42383489 C379.22785888 187.0967682 379.22939723 188.7697015 379.23094214 190.4426348 C379.24462643 206.08269227 379.2392587 221.72269953 379.22775692 237.36275581 C379.21783336 251.61700822 379.23075733 265.87113065 379.25469112 280.12536301 C379.27917652 294.82077512 379.28866664 309.51612693 379.28203839 324.211559 C379.27856645 332.43816939 379.28064257 340.66468003 379.29828942 348.89127481 C379.31313039 355.89573687 379.31349402 362.90002896 379.29621851 369.90448811 C379.28780176 373.46609339 379.28532442 377.02739664 379.30087006 380.58898485 C379.45337497 418.28574013 373.33784043 453.77167835 346.65867341 482.03183305 C319.32515501 508.41495095 281.83870098 512.89487795 245.56734681 512.81366611 C241.94821535 512.80887191 238.32913383 512.82149874 234.71001923 512.83168352 C227.64525946 512.84875743 220.58058907 512.8497353 213.51581404 512.84447061 C207.76417634 512.84040549 202.01256476 512.84190004 196.26092827 512.84721887 C195.43782356 512.84796729 194.61471885 512.84871572 193.76667156 512.84948682 C192.09373826 512.85101853 190.42080496 512.85255688 188.74787166 512.85410178 C173.10781419 512.86778608 157.46780693 512.86241835 141.82775065 512.85091657 C127.57349824 512.840993 113.31937581 512.85391698 99.06514344 512.87785076 C84.36973134 512.90233616 69.67437952 512.91182629 54.97894746 512.90519804 C46.75233707 512.9017261 38.52582643 512.90380221 30.29923165 512.92144907 C23.29476958 512.93629004 16.2904775 512.93665367 9.28601835 512.91937815 C5.72441307 512.9109614 2.16310982 512.90848406 -1.39847839 512.92402971 C-39.09523367 513.07653462 -74.58117189 506.96100008 -102.84132659 480.28183305 C-129.22444449 452.94831466 -133.70437149 415.46186063 -133.62315965 379.19050646 C-133.61836545 375.571375 -133.63099228 371.95229348 -133.64117706 368.33317888 C-133.65825097 361.2684191 -133.65922884 354.20374871 -133.65396415 347.13897369 C-133.64989903 341.38733599 -133.65139359 335.63572441 -133.65671241 329.88408792 C-133.65746083 329.06098321 -133.65820926 328.23787849 -133.65898036 327.38983121 C-133.66051207 325.7168979 -133.66205042 324.0439646 -133.66359533 322.37103131 C-133.67727962 306.73097384 -133.67191189 291.09096658 -133.66041011 275.45091029 C-133.65048654 261.19665789 -133.66341052 246.94253546 -133.68734431 232.68830309 C-133.71182971 217.99289099 -133.72131983 203.29753917 -133.71469158 188.60210711 C-133.71121964 180.37549671 -133.71329575 172.14898607 -133.73094261 163.9223913 C-133.74578358 156.91792923 -133.74614721 149.91363715 -133.7288717 142.909178 C-133.72045495 139.34757271 -133.7179776 135.78626947 -133.73352325 132.22468126 C-133.88602816 94.52792598 -127.77049362 59.04198776 -101.09132659 30.78183305 C-73.7578082 4.39871516 -36.27135417 -0.08121185 0 0 Z "
          fill="#1677FF"
          transform="translate(133.21632659435272,-0.40683305263519287)"
        />
        <path
          d="M0 0 C1.15757812 0.27714844 2.31515625 0.55429688 3.5078125 0.83984375 C28.65424132 7.67790773 52.39583516 23.51768291 66 46 C66.65355469 47.04414063 67.30710937 48.08828125 67.98046875 49.1640625 C87.40709773 81.00291 86.35693907 118.06770738 86.26074219 154.13305664 C86.24930327 158.4603393 86.25615466 162.78737719 86.26762009 167.11465168 C86.37277029 213.79560182 86.37277029 213.79560182 80 236 C79.6908667 237.09175537 79.6908667 237.09175537 79.37548828 238.20556641 C75.21491961 252.55439375 69.44422987 267.14813234 59.01953125 278.140625 C57.73341245 280.00076376 57.73341245 280.00076376 58.515625 282.30859375 C60.38373869 285.69577884 62.60111415 288.7416131 64.9375 291.8125 C69.10017591 297.37947733 73.13840062 303.01214729 77.0625 308.75 C77.52712646 309.42909424 77.99175293 310.10818848 78.47045898 310.80786133 C83.45290273 318.10896877 84.95285469 322.10668958 84 331 C81.82117534 335.59974095 79.5339674 337.80188965 75 340 C72.31196472 340.32202302 69.85944326 340.49129651 67.171875 340.50390625 C66.42343323 340.51389145 65.67499146 340.52387665 64.90386963 340.53416443 C63.32382709 340.54930693 61.74368924 340.55639142 60.16357422 340.5559082 C57.77016061 340.56244494 55.3809569 340.61688313 52.98828125 340.67382812 C45.4289663 340.76048964 38.87879566 340.78972854 32.76367188 335.76733398 C29.90372571 332.90144939 27.30482764 329.99018768 24.875 326.75 C24.37000977 326.09829834 23.86501953 325.44659668 23.34472656 324.77514648 C19.39395791 319.63800832 15.60090324 314.38867563 12 309 C11.17822266 309.27263672 11.17822266 309.27263672 10.33984375 309.55078125 C-26.72160294 321.30197166 -71.79966242 320.9462727 -106.89697266 303.03173828 C-116.48912708 297.93673827 -124.38938121 291.71179393 -132 284 C-132.73863281 283.26007813 -133.47726563 282.52015625 -134.23828125 281.7578125 C-158.38179512 256.16099974 -164.34668572 219.6944287 -164.265625 185.96484375 C-164.26697709 183.95390272 -164.26892211 181.94296202 -164.27142334 179.93202209 C-164.27435379 175.73565532 -164.27014764 171.53937429 -164.26074219 167.34301758 C-164.24940097 162.03087164 -164.25588668 156.71892909 -164.26788712 151.40679073 C-164.27520684 147.25656172 -164.27277126 143.10637876 -164.26763153 138.95614815 C-164.26632006 137.00103289 -164.26785216 135.0459131 -164.27259064 133.09080315 C-164.34039669 97.23771705 -164.34039669 97.23771705 -159.25 80.5 C-158.98687012 79.59258057 -158.72374023 78.68516113 -158.45263672 77.75024414 C-150.87041122 52.35046609 -135.67034625 29.31811342 -113 15 C-112.22269531 14.48953125 -111.44539063 13.9790625 -110.64453125 13.453125 C-79.21911724 -6.43767539 -35.28706353 -9.0041175 0 0 Z "
          fill="#FDFEFF"
          transform="translate(295,87)"
        />
        <path
          d="M0 0 C15.03383182 12.02706546 21.96098029 30.70524922 24.1337738 49.19932556 C25.68902572 64.82244739 26.13689231 80.38707084 26.08105469 96.07958984 C26.07029732 99.66130401 26.08105067 103.2425192 26.09375 106.82421875 C26.1213422 146.08455972 26.1213422 146.08455972 21.0703125 161.78125 C20.80790771 162.64202148 20.54550293 163.50279297 20.27514648 164.38964844 C18.20808228 170.90605138 15.67603064 176.85477607 11.8203125 182.53125 C11.30984375 183.31371094 10.799375 184.09617187 10.2734375 184.90234375 C1.87680593 196.75758785 -12.14749229 204.43160091 -26.1796875 207.53125 C-49.42959478 211.09673099 -71.45963337 207.77875466 -90.69140625 193.69140625 C-105.2356741 181.06506383 -111.16658684 161.04411738 -113.1796875 142.53125 C-113.53540315 136.03223708 -113.46205318 129.51808245 -113.4453125 123.01171875 C-113.44666383 121.14048716 -113.44860823 119.26925592 -113.45111084 117.39802551 C-113.45404229 113.49407579 -113.44983014 109.59021822 -113.44042969 105.6862793 C-113.42906033 100.72771671 -113.43559142 95.76937133 -113.44757462 90.81081676 C-113.45486747 86.95077434 -113.45247116 83.09078177 -113.44731903 79.23073769 C-113.44600172 77.40463547 -113.44756144 75.57852847 -113.45227814 73.75243187 C-113.50148637 49.34679364 -111.18940698 24.21930548 -93.390625 5.7109375 C-92.66101563 4.99164063 -91.93140625 4.27234375 -91.1796875 3.53125 C-90.61507812 2.95632812 -90.05046875 2.38140625 -89.46875 1.7890625 C-66.24885691 -20.07161734 -24.90502477 -16.78188049 0 0 Z "
          fill="#1677FF"
          transform="translate(300.1796875,145.46875)"
        />
      </svg>
    </div>
    <v-col cols="12">
      <div class="pt-6 pl-6">
        <Logo />
      </div>
    </v-col>
    <!---Login Part-->
    <v-col cols="12" lg="12" class="d-flex align-center">
      <v-container>
        <div class="d-flex align-center justify-center" style="min-height: calc(100vh - 148px)">
          <v-row justify="center">
            <v-col cols="12" md="12">
              <v-card elevation="0" class="loginBox">
                <v-card elevation="24">
                  <v-card-text class="pa-sm-10 pa-6">
                    <!---Login Form-->
                    <AuthLogin />
                    <!---Login Form-->
                  </v-card-text>
                </v-card>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-col>
    <!---Login Part-->
    <v-col cols="12">
      <v-container class="pt-0 pb-6">
        <AuthFooter />
      </v-container>
    </v-col>
  </v-row>
</template>
<style lang="scss">
.loginBox {
  max-width: 475px;
  margin: 0 auto;
}
.blur-logo {
  position: absolute;
  filter: blur(18px);
  bottom: 0;
  transform: inherit;
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
</style>
