<script setup lang="ts">
import { ref, shallowRef, watch, onMounted } from 'vue';

import BaseBreadcrumb from '@/components/shared/BaseBreadcrumb.vue';
import UiParentCard from '@/components/shared/UiParentCard.vue';
import LobbyCard from './components/LobbyCard.vue';
import { PlusCircleOutlined } from '@ant-design/icons-vue';
import { useGameStore } from '@/stores/game';
import { useSetStore } from '@/stores/set';

const setStore = useSetStore();
const gameStore = useGameStore();

const page = ref({ title: 'Spiele' });
const breadcrumbs = shallowRef([
  {
    title: 'Spiele',
    disabled: true,
    href: '#'
  }
]);
const dialog = ref(false);

const games = ref();
const sets = ref([]);

const loading = ref(true);
const title = ref('');
const selectedSet = ref();
const selectedGameType = ref();

onMounted(async () => {
  await gameStore.getAll();
  await setStore.getAll();

  games.value = gameStore.games;
  sets.value = setStore.sets;
  loading.value = false;
});

watch(
  games,
  (newGames) => {
    games.value = newGames;
  },
  { deep: true }
);

const saveNewGame = () => {
  const preparedSelectedSet = { ...selectedSet.value };

  gameStore.save({
    title: title.value,
    type: selectedGameType.value,
    set: preparedSelectedSet
  });

  dialog.value = false;
};
</script>

<template>
  <div>
    <BaseBreadcrumb :title="page.title" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
    <v-row>
      <v-col>
        <UiParentCard title="Spiel-Lobbys">
          <v-row no-gutters class="card-row" v-if="!loading">
            <v-col cols="12" md="4">
              <div class="first-card-container pa-2 ma-2">
                <v-dialog v-model="dialog" max-width="600">
                  <template v-slot:activator="{ props: activatorProps }">
                    <v-card class="mx-auto d-flex align-center" max-width="344" min-height="400" variant="outlined" v-bind="activatorProps">
                      <v-card-text>
                        <p class="text-h4 text--primary text-center">Ein Spiel starten!</p>
                        <div class="d-flex justify-center">
                          <PlusCircleOutlined :style="{ color: 'rgb(var(--v-theme-secondary))', fontSize: '60px' }" />
                        </div>
                      </v-card-text>
                    </v-card>
                  </template>

                  <v-card prepend-icon="mdi-help" title="Erstelle ein Spiel">
                    <v-card-text>
                      <v-row dense>
                        <v-col cols="12">
                          <v-text-field v-model="title" variant="outlined" label="Name der Lobby*" required></v-text-field>
                        </v-col>

                        <v-col cols="12">
                          <v-select
                            v-model="selectedGameType"
                            label="Spielmodus*"
                            variant="outlined"
                            :items="[
                              { title: 'Kooperativ', value: 1 },
                              { title: 'Versus', value: 2 }
                            ]"
                            required
                          ></v-select>
                        </v-col>

                        <v-col cols="12">
                          <v-autocomplete
                            label="Katalog*"
                            :items="sets"
                            v-model="selectedSet"
                            item-value="id"
                            variant="outlined"
                            return-object
                            required
                          ></v-autocomplete>
                        </v-col>
                      </v-row>

                      <small class="text-caption text-medium-emphasis">*Pflichtfelder</small>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn text="Schließen" variant="plain" @click="dialog = false"></v-btn>

                      <v-btn color="primary" text="Speichern" variant="tonal" @click="saveNewGame"></v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </div>
            </v-col>
            <v-col cols="12" md="4" v-for="game in games" :key="game.id">
              <LobbyCard :game-id="game.id" :type="game.type" :title="game.title" :set="game.set" />
            </v-col>
          </v-row>
          <v-row v-else> laden... </v-row>
        </UiParentCard>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.card-row {
  display: flex;
}

.first-card-container {
  min-height: 100%;
}
</style>
