<script setup lang="ts">
import { ref, onMounted, computed } from 'vue';
import UiParentCard from '@/components/shared/UiParentCard.vue';
import { useRoute } from 'vue-router';
import { useGameStore } from '@/stores/game';
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();
const gameStore = useGameStore();
const route = useRoute();

const currentGame = ref();
const loading = ref(true);
const checkAnswer = ref(false);
const isGameFinished = ref(false);
const rightAnsweredQuestions = ref<any>([]);
const wrongAnsweredQuestions = ref<any>([]);
const currentSelectedAnswer = ref();
const currentStep = ref(0);

onMounted(async () => {
  const gameById = await gameStore.getById(Number(route.params.gameId));

  for (const question of gameById.set.questions) {
    const preparedAnswers = [];
    preparedAnswers.push({ name: question.answer1Right, rightAnswer: true });
    preparedAnswers.push({ name: question.answer2, rightAnswer: false });
    preparedAnswers.push({ name: question.answer3, rightAnswer: false });
    preparedAnswers.push({ name: question.answer4, rightAnswer: false });
    question.answers = preparedAnswers;
  }

  currentGame.value = gameById;

  for (const question of currentGame.value.set.questions) {
    const randomizedAnswers = [...question.answers];
    randomizedAnswers.sort(() => Math.random() - 0.5);
    question.answers = randomizedAnswers;
  }

  loading.value = false;
});

const validateAnswer = (answer: any, question: any) => {
  checkAnswer.value = true;
  currentSelectedAnswer.value = answer;
  if (answer.rightAnswer) {
    rightAnsweredQuestions.value.push(question);
  } else {
    wrongAnsweredQuestions.value.push(question);
  }
};

const nextQuestion = () => {
  checkAnswer.value = false;
  currentSelectedAnswer.value = null;
  currentStep.value++;

  if (currentStep.value === currentGame.value.set.questions.length) {
    isGameFinished.value = true;

    gameStore.savePlayedGame({
      rightAnswers: rightAnsweredQuestions.value.length,
      wrongAnswers: wrongAnsweredQuestions.value.length,
      user: authStore.user,
      game: currentGame.value
    });
  }
};

const correctAnswerPercentage = computed(() => {
  return ((rightAnsweredQuestions.value.length / currentGame.value.set.questions.length) * 100).toFixed(0);
});
</script>

<template>
  <div>
    <template v-if="loading"> laden... </template>

    <template v-else-if="!loading">
      <v-row>
        <v-col>
          <UiParentCard :title="currentGame.title">
            <div v-if="isGameFinished">
              <v-row>
                <v-col cols="12">
                  <div class="text-h4 text-center">Du hast das Spiel erfolgreich beendet!</div>
                </v-col>
                <v-col cols="12" class="d-flex align-center justify-center">
                  <v-progress-circular color="success" bg-color="error" :model-value="correctAnswerPercentage" :size="125" :width="17">
                    <div class="text-primary">
                      <b>{{ correctAnswerPercentage }}%</b>
                    </div>
                  </v-progress-circular>
                </v-col>
                <v-col cols="12" class="d-flex align-center justify-center">
                  <div class="text-h5 text-center">
                    Richtige Fragen: {{ rightAnsweredQuestions.length }} von {{ currentGame.set.questions.length }}
                  </div>
                </v-col>
                <v-col cols="12" class="d-flex align-center justify-center">
                  <v-btn variant="outlined" color="primary">
                    <router-link to="/games" class="text-primary text-decoration-none"> Neues Spiel</router-link>
                  </v-btn>
                </v-col>
              </v-row>
            </div>
            <v-stepper flat v-if="!isGameFinished">
              <template v-slot:default="{ next }">
                <v-stepper-header flat>
                  <template v-for="(question, n) in currentGame.set.questions" :key="n">
                    <v-stepper-item :complete="currentStep > n" :step="n" :value="n + 1"></v-stepper-item>
                    <v-divider v-if="n !== currentGame.set.questions.length - 1" :key="n"></v-divider>
                  </template>
                </v-stepper-header>

                <v-stepper-window>
                  <v-stepper-window-item v-for="(question, n) in currentGame.set.questions" :key="n" :value="n + 1">
                    <v-card min-height="350">
                      <v-row>
                        <v-col class="d-flex justify-center my-3" cols="12">
                          <div class="text-h4">{{ question.title }}</div>
                        </v-col>
                        <v-col
                          cols="12"
                          md="6"
                          class="d-flex justify-center align-center my-3"
                          v-for="(answer, i) in question.answers"
                          :key="i"
                        >
                          <v-btn
                            block
                            v-if="answer.rightAnswer"
                            :class="{ 'py-10': true, 'text-success': checkAnswer, 'v-btn--variant-flat': currentSelectedAnswer == answer }"
                            variant="outlined"
                            :disabled="checkAnswer"
                            @click="validateAnswer(answer, question)"
                          >
                            {{ answer.name }}
                          </v-btn>
                          <v-btn
                            block
                            v-else
                            :class="{ 'py-10': true, 'text-error': checkAnswer, 'v-btn--variant-flat': currentSelectedAnswer == answer }"
                            variant="outlined"
                            :disabled="checkAnswer"
                            @click="validateAnswer(answer, question)"
                          >
                            {{ answer.name }}
                          </v-btn>
                        </v-col>
                        <v-col v-if="checkAnswer" cols="12"> <b>Erklärung:</b> {{ question.explanation }} </v-col>
                      </v-row>
                    </v-card>
                  </v-stepper-window-item>
                </v-stepper-window>

                <v-stepper-actions
                  v-if="checkAnswer"
                  disabled="prev"
                  color="primary"
                  @click:next="next"
                  @click="nextQuestion"
                ></v-stepper-actions>
              </template>
            </v-stepper>
          </UiParentCard>
        </v-col>
      </v-row>
    </template>
  </div>
</template>

<style lang="scss" scoped>
.v-stepper-actions > :first-child {
  opacity: 0 !important;
}

.v-stepper-actions .v-btn--disabled {
  opacity: 0;
}

.v-btn--disabled {
  opacity: 1;
}

.v-btn--disabled:hover {
  opacity: 1;
}
</style>
