<script setup lang="ts">
import { computed, ref, onMounted } from 'vue';
import { useTheme } from 'vuetify';
import { getLightBorder, getSecondary } from './UpdateColors';
import { useGameStore } from '@/stores/game';
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();
const gameStore = useGameStore();

const theme = useTheme();
const SuccessColor = theme.current.value.colors.success;
const ErrorColor = theme.current.value.colors.error;

const chartOptions1 = computed(() => {
  return {
    chart: {
      type: 'bar',
      height: 360,
      fontFamily: `inherit`,
      foreColor: getSecondary.value,
      offsetY: 20,
      toolbar: {
        show: false
      }
    },
    yaxis: {
      labels: {
        formatter: function (val: any) {
          return val.toFixed(0);
        }
      }
    },
    dataLabels: {
      enabled: false
    },
    plotOptions: {
      bar: {
        columnWidth: '30%',
        borderRadius: 4
      }
    },
    labels: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
    colors: [SuccessColor, ErrorColor],
    stroke: {
      curve: 'smooth',
      width: 6,
      colors: ['transparent']
    },
    fill: {
      opacity: 1
    },
    legend: {
      position: 'top',
      horizontalAlign: 'right',
      markers: {
        width: 15,
        height: 15
      }
    },
    grid: {
      borderColor: getLightBorder.value
    },
    tooltip: {
      fixed: {
        enabled: false
      }
    },
    responsive: [
      {
        breakpoint: 400,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '65%'
            }
          }
        }
      },
      {
        breakpoint: 450,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '55%'
            }
          }
        }
      },
      {
        breakpoint: 550,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '45%'
            }
          }
        }
      },
      {
        breakpoint: 650,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '35%'
            }
          }
        }
      },
      {
        breakpoint: 768,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '30%'
            }
          }
        }
      },
      {
        breakpoint: 960,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '30%'
            }
          }
        }
      },
      {
        breakpoint: 1150,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '35%'
            }
          }
        }
      },
      {
        breakpoint: 1280,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '30%'
            }
          }
        }
      },
      {
        breakpoint: 1360,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '35%'
            }
          }
        }
      }
    ]
  };
});

const rightAnswers = ref();
const wrongAnswers = ref();

onMounted(async () => {
  const userGames = await gameStore.getStatsByUserId(authStore.user.id);

  const rightAnswersByMonth = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  const wrongAnswersByMonth = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  for (const item of userGames) {
    const date = new Date(item.timestamp);
    const month = date.getMonth();
    rightAnswersByMonth[month] = rightAnswersByMonth[month] + item.rightAnswers;
    wrongAnswersByMonth[month] = wrongAnswersByMonth[month] + item.wrongAnswers;
  }
  rightAnswers.value = rightAnswersByMonth;
  wrongAnswers.value = wrongAnswersByMonth;
});

// chart 1
const barChart1 = {
  series: [
    {
      name: 'Fragen richtig',
      data: rightAnswers
    },
    {
      name: 'Fragen falsch',
      data: wrongAnswers
    }
  ]
};
</script>

<template>
  <v-card class="title-card" variant="text" rounded="md">
    <v-card-item class="pb-2 px-0 pt-0">
      <div class="d-flex justify-space-between">
        <v-card-title class="text-h5">Fragen Statistik</v-card-title>
      </div>
    </v-card-item>
    <v-card-text variant="outlined" class="rounded-md">
      <div class="pt-5">
        <h6 class="text-h6 text-lightText mb-3">Fragen</h6>
      </div>
      <apexchart type="bar" height="360" class="report" :options="chartOptions1" :series="barChart1.series"> </apexchart>
    </v-card-text>
  </v-card>
</template>

<style lang="scss">
.report {
  margin-top: -50px;
  .apexcharts-legend {
    .apexcharts-legend-series {
      display: flex !important;
      align-items: center;
    }
  }
}
</style>
