<script setup lang="ts">
import { ref, shallowRef, onMounted } from 'vue';
import { useGameStore } from '@/stores/game';
import { useQuestionStore } from '@/stores/question';
import { useAuthStore } from '@/stores/auth';

const questionStore = useQuestionStore();
const authStore = useAuthStore();
const gameStore = useGameStore();

// icons
import { RiseOutlined, FallOutlined } from '@ant-design/icons-vue';

const questionsCreated = ref(0);
const questionsAnswered = ref(0);
const coopPlayed = ref(0);
const versusPlayed = ref(0);

onMounted(async () => {
  const tempQuestionsCreated = await questionStore.getAllByUserId(authStore.user.id);
  questionsCreated.value = tempQuestionsCreated.length;

  const stats = await gameStore.getStatsByUserId(authStore.user.id);
  let tempQuestionsAnswered = 0;
  let tempCoopPlayed = 0;
  let tempVersusPlayed = 0;

  for (const item of stats) {
    tempQuestionsAnswered = tempQuestionsAnswered + (item.rightAnswers + item.wrongAnswers);
    if (item.game.type === 1) {
      tempCoopPlayed++;
    } else {
      tempVersusPlayed++;
    }
  }

  questionsAnswered.value = tempQuestionsAnswered;
  coopPlayed.value = tempCoopPlayed;
  versusPlayed.value = tempVersusPlayed;
});

const fivecards = shallowRef([
  {
    name: 'Fragen erstellt',
    number: questionsCreated,
    color: 'primary',
    icon: RiseOutlined
  },
  {
    name: 'Fragen beantwortet',
    number: questionsAnswered,
    color: 'success',
    icon: RiseOutlined
  },
  {
    name: 'Kooperativ gespielt',
    number: coopPlayed,
    color: 'warning',
    icon: FallOutlined
  },
  {
    name: 'Versus gespielt',
    number: versusPlayed,
    color: 'error',
    icon: FallOutlined
  }
]);
</script>
<template>
  <v-row class="my-0">
    <v-col cols="12" sm="6" md="3" v-for="(card5, i) in fivecards" :key="i" :value="card5">
      <v-card elevation="0">
        <v-card variant="outlined">
          <v-card-text>
            <div class="d-flex align-items-center justify-space-between">
              <div>
                <h6 class="text-h6 text-lightText mb-1">{{ card5.name }}</h6>
                <h4 class="text-h4 d-flex align-center mb-0">
                  {{ card5.number }}
                </h4>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-card>
    </v-col>
  </v-row>
</template>
