<template>
  <div class="logo">
    <RouterLink to="/dashboard" aria-label="logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="48px"
        height="48px"
        viewBox="0 0 48 48"
        version="1.1"
      >
        <g id="surface1">
          <path
            style="stroke: none; fill-rule: nonzero; fill: rgb(8.627451%, 46.666667%, 100%); fill-opacity: 1"
            d="M 12.488281 -0.0390625 C 12.828125 -0.0390625 13.167969 -0.0390625 13.507812 -0.0390625 C 14.167969 -0.0429688 14.832031 -0.0429688 15.492188 -0.0429688 C 16.03125 -0.0390625 16.574219 -0.0390625 17.113281 -0.0429688 C 17.1875 -0.0429688 17.265625 -0.0429688 17.34375 -0.0429688 C 17.503906 -0.0429688 17.660156 -0.0429688 17.816406 -0.0429688 C 19.28125 -0.0429688 20.75 -0.0429688 22.214844 -0.0429688 C 23.550781 -0.0390625 24.886719 -0.0429688 26.222656 -0.0429688 C 27.601562 -0.046875 28.980469 -0.046875 30.355469 -0.046875 C 31.128906 -0.046875 31.898438 -0.046875 32.671875 -0.046875 C 33.328125 -0.0507812 33.984375 -0.0507812 34.640625 -0.046875 C 34.972656 -0.046875 35.308594 -0.046875 35.640625 -0.046875 C 39.175781 -0.0625 42.503906 0.511719 45.152344 3.011719 C 47.625 5.574219 48.046875 9.089844 48.039062 12.488281 C 48.039062 12.828125 48.039062 13.167969 48.039062 13.507812 C 48.042969 14.167969 48.042969 14.832031 48.042969 15.492188 C 48.039062 16.03125 48.039062 16.574219 48.042969 17.113281 C 48.042969 17.1875 48.042969 17.265625 48.042969 17.34375 C 48.042969 17.503906 48.042969 17.660156 48.042969 17.816406 C 48.042969 19.28125 48.042969 20.75 48.042969 22.214844 C 48.039062 23.550781 48.042969 24.886719 48.042969 26.222656 C 48.046875 27.601562 48.046875 28.980469 48.046875 30.355469 C 48.046875 31.128906 48.046875 31.898438 48.046875 32.671875 C 48.050781 33.328125 48.050781 33.984375 48.046875 34.640625 C 48.046875 34.972656 48.046875 35.308594 48.046875 35.640625 C 48.0625 39.175781 47.488281 42.503906 44.988281 45.152344 C 42.425781 47.625 38.910156 48.046875 35.511719 48.039062 C 35.171875 48.039062 34.832031 48.039062 34.492188 48.039062 C 33.832031 48.042969 33.167969 48.042969 32.507812 48.042969 C 31.96875 48.039062 31.425781 48.039062 30.886719 48.042969 C 30.8125 48.042969 30.734375 48.042969 30.65625 48.042969 C 30.496094 48.042969 30.339844 48.042969 30.183594 48.042969 C 28.71875 48.042969 27.25 48.042969 25.785156 48.042969 C 24.449219 48.039062 23.113281 48.042969 21.777344 48.042969 C 20.398438 48.046875 19.019531 48.046875 17.644531 48.046875 C 16.871094 48.046875 16.101562 48.046875 15.328125 48.046875 C 14.671875 48.050781 14.015625 48.050781 13.359375 48.046875 C 13.027344 48.046875 12.691406 48.046875 12.359375 48.046875 C 8.824219 48.0625 5.496094 47.488281 2.847656 44.988281 C 0.375 42.425781 -0.046875 38.910156 -0.0390625 35.511719 C -0.0390625 35.171875 -0.0390625 34.832031 -0.0390625 34.492188 C -0.0429688 33.832031 -0.0429688 33.167969 -0.0429688 32.507812 C -0.0390625 31.96875 -0.0390625 31.425781 -0.0429688 30.886719 C -0.0429688 30.8125 -0.0429688 30.734375 -0.0429688 30.65625 C -0.0429688 30.496094 -0.0429688 30.339844 -0.0429688 30.183594 C -0.0429688 28.71875 -0.0429688 27.25 -0.0429688 25.785156 C -0.0390625 24.449219 -0.0429688 23.113281 -0.0429688 21.777344 C -0.046875 20.398438 -0.046875 19.019531 -0.046875 17.644531 C -0.046875 16.871094 -0.046875 16.101562 -0.046875 15.328125 C -0.0507812 14.671875 -0.0507812 14.015625 -0.046875 13.359375 C -0.046875 13.027344 -0.046875 12.691406 -0.046875 12.359375 C -0.0625 8.824219 0.511719 5.496094 3.011719 2.847656 C 5.574219 0.375 9.089844 -0.046875 12.488281 -0.0390625 Z M 12.488281 -0.0390625 "
          />
          <path
            style="stroke: none; fill-rule: nonzero; fill: rgb(99.215686%, 99.607843%, 100%); fill-opacity: 1"
            d="M 27.65625 8.15625 C 27.765625 8.183594 27.875 8.207031 27.984375 8.234375 C 30.34375 8.875 32.570312 10.359375 33.84375 12.46875 C 33.90625 12.566406 33.964844 12.664062 34.03125 12.765625 C 35.851562 15.75 35.753906 19.226562 35.742188 22.605469 C 35.742188 23.011719 35.742188 23.417969 35.742188 23.824219 C 35.753906 28.199219 35.753906 28.199219 35.15625 30.28125 C 35.128906 30.382812 35.128906 30.382812 35.097656 30.488281 C 34.707031 31.832031 34.167969 33.203125 33.1875 34.230469 C 33.070312 34.40625 33.070312 34.40625 33.140625 34.621094 C 33.316406 34.941406 33.523438 35.226562 33.742188 35.515625 C 34.132812 36.035156 34.511719 36.5625 34.882812 37.101562 C 34.925781 37.164062 34.96875 37.230469 35.011719 37.292969 C 35.480469 37.980469 35.621094 38.355469 35.53125 39.1875 C 35.328125 39.617188 35.113281 39.824219 34.6875 40.03125 C 34.433594 40.0625 34.207031 40.078125 33.953125 40.078125 C 33.882812 40.078125 33.8125 40.082031 33.742188 40.082031 C 33.59375 40.082031 33.445312 40.082031 33.296875 40.082031 C 33.070312 40.082031 32.847656 40.089844 32.625 40.09375 C 31.914062 40.101562 31.300781 40.105469 30.726562 39.632812 C 30.460938 39.367188 30.214844 39.09375 29.988281 38.789062 C 29.941406 38.726562 29.894531 38.667969 29.84375 38.605469 C 29.472656 38.121094 29.117188 37.628906 28.78125 37.125 C 28.703125 37.152344 28.703125 37.152344 28.625 37.175781 C 25.152344 38.277344 20.925781 38.246094 17.632812 36.566406 C 16.734375 36.085938 15.996094 35.503906 15.28125 34.78125 C 15.210938 34.710938 15.144531 34.640625 15.070312 34.570312 C 12.808594 32.171875 12.25 28.753906 12.257812 25.589844 C 12.257812 25.402344 12.257812 25.214844 12.253906 25.023438 C 12.253906 24.632812 12.257812 24.238281 12.257812 23.84375 C 12.257812 23.347656 12.257812 22.847656 12.257812 22.351562 C 12.253906 21.960938 12.253906 21.574219 12.257812 21.183594 C 12.257812 21 12.257812 20.816406 12.253906 20.632812 C 12.25 17.273438 12.25 17.273438 12.726562 15.703125 C 12.75 15.617188 12.777344 15.53125 12.800781 15.445312 C 13.511719 13.0625 14.9375 10.90625 17.0625 9.5625 C 17.136719 9.515625 17.207031 9.464844 17.285156 9.417969 C 20.230469 7.550781 24.347656 7.3125 27.65625 8.15625 Z M 27.65625 8.15625 "
          />
          <path
            style="stroke: none; fill-rule: nonzero; fill: rgb(8.627451%, 46.666667%, 100%); fill-opacity: 1"
            d="M 28.140625 13.636719 C 29.550781 14.765625 30.199219 16.515625 30.40625 18.25 C 30.550781 19.714844 30.59375 21.175781 30.585938 22.644531 C 30.585938 22.980469 30.585938 23.316406 30.589844 23.652344 C 30.589844 27.332031 30.589844 27.332031 30.117188 28.804688 C 30.09375 28.886719 30.066406 28.964844 30.042969 29.050781 C 29.847656 29.660156 29.613281 30.21875 29.25 30.75 C 29.203125 30.824219 29.152344 30.898438 29.105469 30.972656 C 28.316406 32.082031 27.003906 32.804688 25.6875 33.09375 C 23.507812 33.429688 21.441406 33.117188 19.640625 31.796875 C 18.277344 30.613281 17.71875 28.734375 17.53125 27 C 17.496094 26.390625 17.503906 25.78125 17.507812 25.171875 C 17.507812 24.996094 17.507812 24.820312 17.503906 24.644531 C 17.503906 24.277344 17.507812 23.910156 17.507812 23.546875 C 17.507812 23.082031 17.507812 22.617188 17.507812 22.152344 C 17.503906 21.789062 17.503906 21.425781 17.507812 21.066406 C 17.507812 20.894531 17.507812 20.722656 17.503906 20.550781 C 17.5 18.265625 17.71875 15.910156 19.386719 14.171875 C 19.453125 14.105469 19.523438 14.039062 19.59375 13.96875 C 19.648438 13.914062 19.699219 13.859375 19.753906 13.804688 C 21.929688 11.757812 25.808594 12.0625 28.140625 13.636719 Z M 28.140625 13.636719 "
          />
        </g>
      </svg>
    </RouterLink>
  </div>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';
</script>
