//
// The variables you want to modify
@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

// ==================================== //
// Global Settings
// ==================================== //
$font-size-root: 16px;
$body-font-family: "DM Sans", sans-serif !default;

// ==================================== //
// Button Settings
// ==================================== //
$btn-border-radius: 8px;
$btn-font-weight: 400;
$btn-font-sizes:1rem !default;
$btn-gap:12px 20px !default;
$btn-letter-spacing: 0 !default;
$btn-text-transform: none;
$heading-font-family: $body-font-family !default;

// ==================================== //
// Color Settings
// ==================================== //
$color-pack: false;

// ==================================== //
// Border
// ==================================== //
$border-radius-root: 8px !default;

// ==================================== //
// Headings
// ==================================== //
$heading-font-family: "DM Sans", sans-serif !default;

// Global Typography
$typography: () !default;
$typography: map-deep-merge(
    (
        'h1': (
            'size': 2.25rem,
            'weight': 600,
            'line-height': 2.25rem,
            'font-family': inherit
        ),
        'h2': (
            'size': 1.875rem,
            'weight': 600,
            'line-height':1.875rem,
            'font-family': inherit
        ),
        'h3': (
            'size': 1.5rem,
            'weight': 600,
            'line-height': 1.5rem,
            'font-family': inherit
        ),
        'h4': (
            'size': 1.3125rem,
            'weight': 600,
            'line-height': 1.3125rem,
            'font-family': inherit
        ),
        'h5': (
            'size':  1.125rem,
            'weight': 600,
            'line-height': 1.125rem,
            'font-family': inherit
        ),
        'h6': (
            'size': 1rem,
            'weight': 600,
            "line-height":1rem,
            'font-family': inherit
        ),
        'subtitle-1': (
            'size': 0.875rem,
            'weight': 500,
            'line-height': 1rem,
            'font-family': inherit
        ),
        'subtitle-2': (
            'size': 0.75rem,
            'weight': 400,
            'line-height': 1rem,
            'font-family': inherit
        ),
        'body-1': (
            'size': 0.875rem,
            'weight': 400,
            'font-family': inherit
        ),
        'body-2': (
            'size': 0.75rem,
            'weight': 400,
            'font-family': inherit
        ),
        'button': (
            'size': 0.875rem,
            'weight': 500,
            'font-family': inherit,
            'text-transform': uppercase
        ),
        'caption': (
            'size': 0.75rem,
            'weight': 400,
            'font-family': inherit
        ),
        'overline': (
            'size': 0.75rem,
            'weight': 500,
            'font-family': inherit,
            'text-transform': uppercase
        ),
    ),
    $typography
);

//
// Chip
//
$chip-selected-opacity: 0.28 !default;
$icon-sizes: () !default;
$icon-sizes: map-deep-merge(
  (
    "small": (
      "font-size": 12,
      "height": 22
    )
  ),
  $icon-sizes
);

// ==================================== //
// Grid
// ==================================== //
$spacer: 4px !default;
$grid-gutter: $spacer * 15 !default;
// ==================================== //
// Card
// ==================================== //
$card-actions-padding: 20px !default;
$card-subtitle-padding: 20px !default;
$card-elevation: 0 !default;
$card-text-font-size: 16px !default;
$card-border-radius: 0.25rem !default;

// Form Input
$input-font-size: 18px !default;
$label-font-size: 18px !default;

// ==================================== //
// Default
// ==================================== //
$shadow: 0px 3px 12px 0px rgba(104, 113, 134, 0.2);
$material-font-light-theme: #8d97ad;
/*===================================
              Header
====================================*/
$nav-link-height: 75px;
$nav-link-padding: 15px 15px;
$nav-sublink-padding: 15px 15px;
$nav-link-font-size: 17px;
$nav-link-font-color:rgb(var(--v-theme-white));
$nav-link-font-hover-color:rgb(var(--v-theme-blue));
$nav-link-font-family: "DM Sans", sans-serif;
$heading-color: rgb(var(--v-theme-gray-600));
$border-color: #e5e7ec;